<div>
    <strong>{{localize "DEDUPE_WARNING.Body"}}</strong>
    <div class="suppress">
        <input type="checkbox" name="suppress" {{checked suppressWarning}}>
        <label>{{localize "DEDUPE_WARNING.SuppressLabel"}}</label>
    </div>
</div>